body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background: url('../images/Background-1.png') no-repeat center center fixed;
    background-size: cover;
    color: #FFFFFF;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.header {
    text-align: center;
    margin-top: 100px; /* Center between top and light */
    margin-bottom: 40px;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    font-size: 2em;
    margin: 10px 0;
}

.social-links {
    margin-top: 20px; /* Adjust this value to move the icons up or down */
}

.social-links img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.intro {
    text-align: center;
    max-width: 1200px; /* Make the paragraph wider */
    margin-top: auto;
    margin-bottom: 50px;
    padding-top: 300px; /* Move the intro text below the light */
}

.intro p {
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: bold; /* Make the text bold */
}

